@import "~@wya/sass/lib/themes/index.scss";
$main : #5495f6;

$label-red: #e6686b;
$error-red : #e74854;
$warn : #faad14;
$white: #fff;

// 蓝色系
$blue-tint: #4a8ced;

// 青色系
$light-green: #52c41a;

// 灰白系
$cf9: #f9f9f9;
$cfe: #fefefe;
$cef: #efefef;
$ce8: #e8e8e8;

$c67: #676767;
$c51: #515151;
