@import "~@wya/sass/lib/themes/index.scss";
$main : #5495f6;

$error-red : #e74854;
$warn : #faad14;
$white: #fff;

// 蓝色系
$blue-tint: #4a8ced;

// 青色系
$light-green: #52c41a;

// 灰白系
$cfe: #fefefe;
$cef: #efefef;
