// vc前置表示允许被重写
// @import "@wya/vc/lib/vc.min.css";
@import "core/index";

.g-c-main {
	color: $main !important;
}
.g-bg-main {
	background-color: $main;
}
.g-lh-50 {
	line-height: 50px;
}
.g-filter-label {
	color: #333;
	display: inline-block;
	width: calc(5em + 24px);
	text-align: right;
}

.g-c-fe {
	color: $cfe;
}
.g-c-error-red {
	color: $error-red;
}
.g-c-51 {
	color: $c51;
}

// button
.g-blue-btn {
	border: 1px solid $main;
	color: $main;
	cursor: pointer;
	border-radius: 4px;
	display: inline-block;
	height: 28px;
	line-height: 27px;
	padding: 0 12px;
}
.g-link-text {
	cursor: pointer;
	color: #5495f6;
}
